@import 'vars';
@import 'fonts';
@import 'reset';
@import 'libs';
@import 'global';

/*==============================================
                    Header
==============================================*/

.header {
    &__inner {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 120px;
        z-index: 10;
    }

    &__btn {
        background-color: transparent;
        border: none;
        cursor: pointer;
    }

    &__menu-btn {
        display: none;
    }
}

.logo {
    margin: 0 auto;
    font-family: 'Monoton', cursive;
    font-size: 21px;
    color: $title;
    font-weight: normal;
}

.menu {
    padding-right: 15px;

    &__list {
        display: flex;
    }

    &__item {
        padding-right: 45px;
        padding-left: 35px;
    }

    &__link {
        @extend%title-font;
        color: rgba(54, 56, 56, 0.9);
        line-height: 22px;
    }

    &__list-link--active {
        padding-bottom: 4px;
        position: relative;

        &::after {
            content: '';
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            height: 2px;
            border-radius: 1px;
            background-color: rgba($title, .7);
        }
    }
}


/*Rightside menu*/

.rightside-menu {
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    max-width: 434px;
    z-index: 999;
    background-color: #ffffff;
    padding-top: 40px;
    box-shadow: -2px 3px 17px 0px #000;
    transition: all .5s;

    &.rightside-menu--close-js {
        transform: translateX(500%);
    }

    &__close-btn {
        background-color: transparent;
        border: none;
        padding: 0;
        margin-left: 20px;
        margin-bottom: 60px;
        cursor: pointer;
    }

    &__content {
        text-align: center;
        max-width: 400px;
        margin: 0 auto;
    }

    &__logo {
        margin-bottom: 40px;
        font-family: 'Monoton', cursive;
        font-size: 31px;
        color: $title;
        font-weight: normal;
    }

    &__title {
        color: $title;
        @extend %title-font;
        font-family: 36px;
        position: relative;
        margin-bottom: 17px;
        padding-bottom: 17px;

        &::after {
            content: "";
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            max-width: 252px;
            margin: 0 auto;
            height: 1px;
            background: #6D7278;
        }
    }

    &__text {
        text-align: center;
        font-family: 16px;
        padding-bottom: 20px;
    }

    &__img {
        max-width: 400px;
        display: inline-block;
    }
}


/*==============================================
                    Main page
==============================================*/


/* breadcrumbs */

.breadcrumbs {
    background-color: rgba(#dfdfdf, .5);
    padding: 12px 14px;
    position: relative;
    z-index: 9;

    &__list {
        display: flex;
        overflow-x: auto;
    }

    &__item {
        position: relative;
        padding-right: 8px;
    }

    &__item::after {
        position: absolute;
        content: '/';
    }

    &__item:last-child::after {
        display: none;
    }

    &__link {
        font-size: 14px;
        color: $default;
    }
}


/* top slider */

.top {
    &__inner {
        padding-bottom: 70px;
        position: relative;

        &::after {
            content: '';
            background-image: url(../images/inspiration-bg.jpg);
            position: absolute;
            width: 100%;
            height: 715px;
            top: 0;
            z-index: -1;
        }
    }

    &__slider-item {
        display: flex !important;
        justify-content: center;
        align-items: center;
    }

    &__slider-img {
        margin-left: 14%;
        max-width: 400px;
        height: 715px;
        object-fit: cover;
    }

    &__slider-info {
        max-width: 645px;
        margin-left: 25px;
    }

    &__slider-title {
        @extend %title-font;
        color: $title;
        font-size: 110px;
        line-height: 135px;
        padding-bottom: 26px;
        margin-bottom: 26px;
        position: relative;

        &::after {
            content: '';
            position: absolute;
            left: 0;
            bottom: 0;
            width: 185px;
            height: 1px;
            background: #6d7278;
        }
    }

    &__slider-text {
        max-width: 585px;
        background-color: rgba(#fff, .7);
        box-shadow: -10px 0 0 rgba(#fff, .7), 10px 0 0 rgba(#fff, .7);
        padding: 10px 0;
    }
}


/* section .new-collection */

.new-collection {
    text-align: center;
    padding: 45px 0 35px;

    &__title {
        @extend %title-font;
        color: $title;
        font-size: 35px;
        line-height: 51px;
        padding-bottom: 25px;
        margin-bottom: 25px;
        position: relative;

        &::after {
            content: '';
            position: absolute;
            width: 250px;
            height: 1px;
            left: 0;
            right: 0;
            bottom: 0;
            margin: 0 auto;
            background: #6d7278;
        }
    }

    &__text {
        max-width: 730px;
        margin: 0 auto 30px;
    }
}

.collection {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 30px;
    padding-bottom: 70px;

    &__item {
        position: relative;

        &:hover {
            .collection__info {
                opacity: 1;
            }
        }
    }

    &__images {
        height: 250px;
        object-fit: cover;
    }

    &__info {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(#fff, 0.7);
        padding: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        opacity: 0;
        transition: all 0.5s;
    }

    &__info-title {
        @extend %title-font;
        font-size: 20px;
        line-height: 25px;
        color: $title;
        padding-bottom: 19px;
        margin-bottom: 19px;
        position: relative;

        &::after {
            content: "";
            position: absolute;
            bottom: 0;
            height: 1px;
            background-color: #6d7278;
            width: 80%;
            margin: 0 auto;
            left: 0;
            right: 0;
        }
    }

    &__info-text {
        font-weight: 600;
        font-size: 14px;
        color: #707070;
    }
}


/* section .decor */

.decor {
    padding: 170px 0 155px;
    background-image: url('../images/decor-bg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 600px;

    &__title {
        @extend %title-font;
        max-width: 540px;
        color: $title;
        font-size: 60px;
        line-height: 80px;
        padding-bottom: 22px;
        margin-bottom: 22px;
        position: relative;

        &::after {
            content: '';
            position: absolute;
            left: 0;
            width: 200px;
            bottom: 0;
            height: 1px;
            background: #6d7278;
        }
    }

    &__text {
        max-width: 540px;
    }
}


/* Works path  */

.works-path {
    padding: 80px 0 30px;

    &__title {
        @extend %title-font;
        text-align: center;
        color: $title;
        margin-bottom: 40px;
        font-size: 36px;
        line-height: 51px;
    }

    &__items-box {
        display: flex;
        align-items: flex-end;
        border-bottom: 2px solid rgba($title, 0.7);
        position: relative;
        justify-content: space-around;

        &::before {
            content: '';
            position: absolute;
            bottom: -6px;
            left: 0;
            height: 10px;
            width: 10px;
            border-radius: 50%;
            background: #6d7278;
        }
    }

    &__item {
        width: 250px;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        position: relative;
    }

    &__item--production {
        margin-left: 317px;

        &::after {
            content: '';
            position: absolute;
            bottom: 0;
            left: 0;
            height: 20px;
            width: 2px;
            background: rgba($title, 0.7);
        }
    }

    &__item--measurements {
        padding-top: 38px;
        margin-left: 305px;
        position: relative;

        &::before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            height: 20px;
            width: 2px;
            background: rgba($title, 0.7);
        }
    }

    &__item--production,
    &__item--consultation,
    &__item--measurements {
        padding-bottom: 38px;
    }

    &__item-title {
        margin-left: 13px;
        color: $title;
        @extend %title-font;
        margin-top: 13px;
    }
}


/* Gallery */

.gallery {
    padding: 80px 0 90px;
    display: grid;

    &__buttons {
        text-align: center;
        margin-bottom: 40px;
    }

    &__btn {
        margin: 0 13px;
        background-color: transparent;
        border: none;
        border: 1px solid #454647;
        border-radius: 20px;
        padding: 6px 16px;
        color: #8f8d8d;
        font-size: 14px;
        font-weight: 600;
        cursor: pointer;
    }

    .mixitup-control-active {
        background-color: #ffef35;
        color: $title;
    }

    &__items {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(2, 1fr);
        grid-gap: 30px 35px;
    }

    &__item:first-child {
        grid-column: span 2;
        grid-row: span 2;
    }

    &__img {
        object-fit: cover;
        width: 100%;
        max-height: 1150px;
        height: 100%;
        background-color: grey;
    }

    &.gallery-page {
        .gallery__item .gallery__img {
            max-height: 1150px;
            height: 100%;
        }

        .gallery__item:nth-child(8) {
            grid-column: span 2;
            grid-row: span 2;
        }
    }
}

.blog-box {
    padding-bottom: 100px;

    &__title {
        @extend %title-font;
        font-weight: bold;
        font-size: 36px;
        line-height: 51px;
        margin: 0 auto 30px;
        color: $title;
        margin-bottom: 30px;
        text-align: center;
        max-width: 430px;
    }

    &__items {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 30px;
    }

    &__img-link {
        margin-bottom: 19px;
        display: inline-block;
    }

    &__links {
        margin-bottom: 9px;
        font-size: 14px;
        font-weight: 600;
        color: #707070;
    }

    &__date,
    &__author,
    &__theme {
        color: inherit;
    }

    &__item-title {
        color: $title;
        font-size: 24px;
        font-weight: 38;
    }
}


/*==============================================
                    Footer
==============================================*/

.footer {
    &__content {
        background: #DFDFDF;
        padding: 60px 0 80px;
    }

    &__inner {
        display: flex;
        justify-content: space-between;
    }

    &__info {
        width: 540px;
    }

    &__info-title {
        color: $title;
        @extend%title-font;
        margin-bottom: 14px;
        line-height: 23px;
    }

    &__info-text {
        margin-bottom: 16px;
        max-width: 475px;
    }

    &__form {
        display: flex;
    }

    &__form-input {
        padding: 6px 10px 6px 18px;
        border-radius: 21px;
        border: 1px solid rgba($title, 0.7);
        background-color: transparent;
        width: 100%;

        &::placeholder {
            font-family: 'Open-sans', sans-serif;
            font-weight: 400;
            line-height: 17px;
            color: #a1a1a1;
        }
    }

    &__form-btn {
        background-color: $title;
        color: #fffff0;
        border: none;
        border-radius: 21px;
        font-weight: 600;
        padding: 6px 12px;
        min-width: 160px;
        margin-left: 9px;
        cursor: pointer;
    }

    &__social {
        width: 125px;
        margin-right: auto;
        margin-left: 100px;
    }

    &__social-item {
        padding-bottom: 15px;
    }

    &__social-link {
        padding-left: 28px;
        position: relative;

        &::before {
            content: '';
            position: absolute;
            top: 3px;
            left: 0;
            width: 16px;
            height: 16px;
        }
    }

    &__social-link--facebook::before {
        background-image: url(../images/icon/facebook.svg);
    }

    &__social-link--instagram::before {
        background-image: url(../images/icon/instagram.svg);
        width: 14px;
        height: 14px;
    }

    &__social-link--pinterest::before {
        background-image: url(../images/icon/pinterest.svg);
    }

    &__social-link--watsapp::before {
        background-image: url(../images/icon/whatsapp.svg);
        width: 14px;
        height: 14px;
    }

    &__social-link--youtube::before {
        background-image: url(../images/icon/youtube.svg);
        top: 5px;
        width: 18px;
        height: 12px;
    }

    &__social-link,
    &__menu-link {
        color: #707070;
        margin-bottom: 15px;
        font-weight: 600;
        font-style: 14px;
    }

    &__menu {
        margin-right: 60px;
        width: 125px;
    }

    &__menu-item {
        padding-bottom: 15px;
    }

    &__copyright {
        background: $title;
        color: #A1A1A1;
        text-align: center;
        padding: 42px 0 41px;
    }
}


/*===================================================
                About page 
==================================================*/

.about {
    &__prev {
        background-image: url(../images/about-bg.jpg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        text-align: center;
        padding: 160px 0;
        margin-top: -53px;
    }

    &__prev-title {
        @extend %title-font;
        color: $title;
        font-size: 60px;
        line-height: 80px;
    }

    &__content {
        padding: 130px 0 40px;
    }

    &__title {
        @extend %title-font;
        color: $title;
        font-size: 36px;
        line-height: 60px;
        padding-bottom: 22px;
        margin-bottom: 22px;
        position: relative;

        &::after {
            content: '';
            position: absolute;
            bottom: 0;
            left: 0;
            width: 200px;
            height: 1px;
            background-color: #6d7278;
        }
    }

    &__text {
        padding-left: 284px;

        p {
            margin-bottom: 30px;
        }
    }

    &__popup {
        background-image: url(../images/play-box_bg.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: top center;
        min-height: 415px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

.inspiration {
    padding-top: 100px;
    position: relative;

    &::after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        background-image: url(../images/inspiration-bg.jpg);
        height: 410px;
        z-index: -1;
    }

    &__inner {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__title {
        font-size: 36px;
        line-height: 60px;
        color: $title;
        @extend %title-font;
        padding-bottom: 16px;
        margin-bottom: 24px;
        position: relative;

        &::after {
            content: '';
            position: absolute;
            bottom: 0;
            left: 0;
            background: #6d7278;
            width: 200px;
            height: 1px;
        }
    }

    &__text {
        margin-bottom: 30px;
    }

    &__item-text {
        margin-bottom: 30px;
    }

    &__content {
        max-width: 825px;
    }

    &__img {
        margin-right: 78px;
    }

    &__item {
        color: $title;
        @extend %title-font;
        line-height: 23px;
        margin-bottom: 33px;
    }

    &__item-content {
        display: flex;
        justify-content: space-between;
        padding-bottom: 14px;
        border-bottom: 2px solid #fff;
        border-radius: 4px;
    }

    &__line {
        height: 2px;
        border-radius: 4px;
        background-color: $title;
        margin-top: -2px;
    }
}

.partners {
    padding: 16px 0 60px;

    &__items {
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        column-gap: 10px;
    }

    &__item {
        margin: 0 auto;
    }
}


/*==============================================
                Contact page 
==============================================*/

.map {
    margin-top: -53px;
    margin-bottom: 50px;

    iframe {
        height: 578px;
    }
}

.contact {
    padding-bottom: 100px;

    &__title {
        font-size: 36px;
        line-height: 60px;
        color: $title;
        @extend %title-font;
        padding-bottom: 16px;
        margin-bottom: 24px;
        position: relative;

        &::after {
            content: '';
            position: absolute;
            bottom: 0;
            left: 0;
            background: #6d7278;
            width: 200px;
            height: 2px;
        }
    }

    .contact__social {
        padding-left: 284px;
        display: flex;
        margin-bottom: 20px;
    }

    &__social-item+.contact__social-item {
        padding-left: 40px;
    }

    &__text {
        padding-left: 284px;
        margin-bottom: 10px;
    }

    &__address {
        padding-left: 284px;
    }

    &__phone {
        color: $default;
    }

    &__city {
        margin-bottom: 16px;
        line-height: 21px;
    }

    &__form {
        padding-left: 284px;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    &__form-input {
        border: 1px solid #DFDFDF;
        box-sizing: border-box;
        border-radius: 20px;
        margin-bottom: 13px;
        padding: 6px 17px;
        width: 48%;

        &__placeholder {
            color: #a1a1a1;
            font-weight: 400;
            font-size: 16px;
            line-height: 27px;
            font-family: 'Open Sans'serif;
        }
    }

    &__form-area {
        width: 100%;
        border: none;
        border: 1px solid #DFDFDF;
        box-sizing: border-box;
        border-radius: 20px;
        padding: 14px 17px;
        min-height: 125px;
        resize: none;
        margin-bottom: 15px;

        &__placeholder {
            color: #a1a1a1;
            font-weight: 400;
            font-size: 16px;
            line-height: 27px;
            font-family: 'Open Sans'serif;
        }
    }

    &__form-btn {
        box-sizing: border-box;
        border: none;
        border-radius: 20px;
        background: $title;
        color: #FFFFF0;
        font-family: Open Sans;
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        line-height: 28px;
        padding: 5px 60px;
        cursor: pointer;
    }
}

.contact-slider {
    padding-bottom: 102px;
    justify-content: space-around;

    &__link {
        position: relative;
        text-align: center;
        margin-bottom: 20px;
        padding: 0 3px;

        &:hover {
            .contact-slider__title {
                opacity: 1;
            }
        }
    }

    &__img {
        width: 170px;
        height: 170px;
        object-fit: cover;
    }

    &__title {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(#fff, 0.7);
        padding: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        opacity: 0;
        transition: all 0.5s;
        @extend %title-font;
        color: $title;
    }
}


/*============================================
 Blog page
 ========================================== */


/* Blog & Aside */

.blog {
    &__inner {
        display: flex;
        justify-content: space-between;
        padding: 60px 0 100px;
    }

    &__category {
        margin-bottom: 36px;
    }

    &__category-title,
    &__tags-title {
        margin-bottom: 15px;
        color: $title;
        @extend %title-font;
        line-height: 23px;
    }

    &__category-item {
        margin-bottom: 12px;
    }

    &__category-link {
        color: inherit;
    }

    &__tags {
        margin-bottom: 50px;
    }

    &__tags-link {
        color: #8f8d8d;
        font-size: 14px;
        font-weight: 600;
        padding: 0 16px;
        margin-bottom: 10px;
        margin-right: 10px;
        display: inline-block;
        border: 1px solid rgba(#454647, 0.5);
        border-radius: 14px;
    }

    &__social {
        display: flex;
    }

    &__social-item {
        margin-right: 20px;
    }
}

.aside {
    min-width: 360px;
    width: 100%;
    margin-left: 30px;

    &__search {
        position: relative;
        margin-bottom: 40px;
    }

    &__search-input {
        padding: 6px 38px 6px 18px;
        border: none;
        border-radius: 20px;
        border: 1px solid rgba($title, .7);
        display: block;
        width: 100%;

        &::placeholder {
            height: 100%;
            font-family: 'Open Sans', sans-serif;
            font-weight: 400;
            font-size: 14px;
            line-height: 27px;
            color: #a1a1a1;
        }
    }

    &__search-btn {
        border: none;
        background-color: transparent;
        position: absolute;
        top: 10px;
        right: 12px;
    }
}

.recent-posts {
    margin-bottom: 40px;

    &__title {
        margin-bottom: 15px;
        color: $title;
        @extend %title-font;
        line-height: 23px;
    }

    &__item {
        margin-bottom: 12px;
    }

    &__item-title {
        display: block;
        color: inherit;
        margin-bottom: 10px;
    }

    &__date,
    &__author {
        color: #a1a1a1a1;
        font-size: 14px;
    }
}

.blog {
    &__item {
        margin-bottom: 122px;
    }

    &__item-img {
        margin-bottom: 25px;
    }

    &__item-info {
        margin-bottom: 9px;
    }

    &__item-info,
    &__item-theme,
    &__item-author {
        color: #707070;
    }

    &__item-title {
        color: $title;
        @extend %title-font;
        margin-bottom: 9px;
    }

    &__item-text {
        width: 100%;
        color: $default;
    }

    &__blockquote {
        margin-bottom: 50px;
        background-color: rgba(#DFDFDF, 0.5);
        ;
        text-align: center;
        color: $title;
        padding: 54px 64px;
    }

    &__blockquote-text {
        font-family: OpenSans, sans-serif;
        font-style: italic;
        font-weight: 300;
        font-size: 24px;
        line-height: 38px;
        color: $title;
        margin-bottom: 50px;
        position: relative;

        &::before {
            content: '';
            position: absolute;
            bottom: 0;
            left: 35%;
            top: 100px;
            right: 0;
            background: #6d7278;
            width: 200px;
            height: 2px;
        }
    }

    &__blockquote-author {
        font-family: Montserrat;
        font-style: normal;
        font-weight: bold;
        font-size: 16px;
        line-height: 22px;
    }
}

.pagination {
    display: flex;
    align-items: center;
    justify-content: center;

    &__list {
        display: flex;
    }

    &__list-num {
        margin: 0 6px;
        color: $title;
    }

    &__list-num--active {
        color: #363838;
        font-weight: 600;
    }

    &__arrow-icon {
        margin: 0 6px;
        cursor: pointer;
    }
}


/*==========================================
Blog Single Post page
===========================================*/

.single-post__item {
    h3 {
        margin-bottom: 10px;
    }

    p {
        margin-bottom: 10px;
    }
}

.single-post {
    &__tags {
        margin-bottom: 30px;
    }

    &__tags-title {
        @extend %title-font;
        color: $title;
        margin-bottom: 6px;
        font-size: 20px;
        line-height: 31px;
    }

    &__tags-link {
        margin-bottom: 10px;
        margin-right: 23px;
        padding: 0 16px;
        border: 1px solid rgba(#454647, 0.5);
        border-radius: 14px;
        color: $default;
        display: inline-block;
    }

    &__links {
        padding: 40px 0 32px;
        border-top: 1px solid #dfdfdf;
        border-bottom: 1px solid #dfdfdf;
        display: flex;
        justify-content: space-between;
        margin-bottom: 35px;
    }

    &__link {
        width: 243px;
        position: relative;
        color: #707070;
        font-size: 14px;
        font-weight: 600;

        &::before {
            content: '';
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            width: 12px;
            height: 23px;
        }
    }

    &__link-prev {
        padding-left: 44px;

        &::before {
            background-image: url(../images/icon/arrow-prev.svg);
            left: 0;
        }
    }

    &__link-next {
        padding-right: 44px;
        text-align: right;

        &::before {
            background-image: url(../images/icon/arrow-next.svg);
            right: 0;
        }
    }

    &__comments-title {
        color: $title;
        @extend %title-font;
        font-size: 20px;
        line-height: 31px;
        margin-bottom: 15px;
    }

    &__comments-item {
        display: flex;
        justify-content: space-between;
        align-items: start;
        margin-bottom: 40px;
    }

    &__comments-avatar {
        width: 64px;
        height: 64px;
        object-fit: cover;
        border-radius: 50%;
        margin-right: 13px;
    }

    &__comments-reply {
        background-color: transparent;
        margin-left: 5px;
        border: none;
        padding: 0;
        font-size: 14px;
        font-weight: 600;
        color: #707070;
        cursor: pointer;
    }

    &__comments-name {
        color: $title;
        @extend %title-font;
        line-height: 23px;
    }

    &__comments-date {
        margin-bottom: 10px;
        font-size: 14px;
        color: #a1a1a1;
    }

    &__form {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    &__form-title {
        color: $title;
        @extend %title-font;
        font-size: 20px;
        line-height: 31px;
        margin-bottom: 25px;
    }

    &__form-textarea {
        resize: none;
        height: 125px;
        width: 100%;
        border: none;
        border: 1px solid #DFDFDF;
        box-sizing: border-box;
        border-radius: 20px;
        padding: 14px 17px;
        min-height: 125px;
        resize: none;
        margin-bottom: 15px;
    }

    &__form-text,
    &__form-email {
        border: 1px solid #DFDFDF;
        box-sizing: border-box;
        border-radius: 20px;
        margin-bottom: 20px;
        padding: 6px 17px;
        width: 48%;

        &__placeholder {
            color: #a1a1a1;
            font-weight: 400;
            font-size: 16px;
            line-height: 27px;
            font-family: 'Open Sans'serif;
        }
    }

    &__form-label {
        width: 100%;
        margin-bottom: 20px;
        font-size: 14px;
        color: #a1a1a1;
    }

    &__form-btn {
        box-sizing: border-box;
        border: none;
        border-radius: 20px;
        background: $title;
        color: #FFFFF0;
        font-family: Open Sans;
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        line-height: 28px;
        padding: 5px 60px;
        cursor: pointer;
    }
}

@import 'media';